datasets==2.1.0
dgl-cu113==0.8.1
nltk==3.7
numpy==1.21.4
pycocoevalcap @ git+https://github.com/salaniz/pycocoevalcap.git@ad63453cfab57a81a02b2949b17a91fab1c3df77
pynvml==11.4.1
pywikibot==7.2.0
PyYAML==5.4.1
rouge==1.0.1
rouge-score==0.0.4
sacrebleu==2.0.0
sacremoses==0.0.46
scikit-learn==1.0.2
scipy==1.7.2
sentencepiece==0.1.96
simplejson==3.17.6
spacy==3.2.0
tensorflow==2.8.0
tokenizers==0.12.1
torch==1.10.0+cu113
transformers==4.18.0
wikitextparser==0.49.1
